
@font-face {
    font-family: "HelveticaNeue,sans-serif";
    src: url("/fonts/helveticaneue-medium-webfont.woff2") format("woff2") 
    url("/fonts/HelveticaNeue-Medium.woff")format("woff")
}

@import url(../css/normalize.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

/* Variables */

:root{
    --color-fondo:#F1F1F1;
    --color-shadow:0px 4px 4px 0px #00000040;
    --spacing-radius:10px;
}

body{
    background-color: var(--color-fondo);
    display: grid; 
    place-items: center;
    height: 100vh;
}

.texto{
        background-color: #FFFFFF;
        padding: 30px 20px;
        border-radius: var(--spacing-radius);
        box-shadow: var(--color-shadow);

        & .texto__tituloGrande{
            font-family: Helvetica Neue;
            font-size:32px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        & .texto__tituloPeque{
            font-family: Helvetica Neue;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 20px;
        }
    }


